html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

canvas {
  display: block;
  box-shadow: 0px 0px 20px rgb(98, 148, 24);
}

#sketch-div {
    padding: 10px;
}

.scoreboard {
    width: 230px;
    position: fixed;
    top: 20px;
    left: 20px;
    border: 1px solid rgb(119, 24, 148);
    box-shadow: 0px 0px 10px rgb(119, 24, 148);
    background-color: white;
    padding: 10px;
    font-size: 22px;
    line-height: 30px;
    cursor: all-scroll;
    z-index: 1;
}

.info {
    /* position: fixed;
    top: 100px;
    left: 15px;
    padding: 10px; */
    font-size: 20px;
    color: red;
}

.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameName {
    margin: 15px 10px 5px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.button-list {
    margin: 10px 0;
}

.button-list button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px 10px;
}

.material-icons {
    color: black;
    font-size: 28px !important;
}

.button-list button:hover:enabled {
    box-shadow: 0px 0px 3px rgb(46, 46, 46), 0px 0px 2px rgb(46, 46, 46);
}

.button-list button:disabled {
    cursor: default;
    opacity: 30%;
}

.love {
    margin-top: 5px;
    margin-bottom: 15px;
    color: grey;
    font-size: 14px;
}

.love a {
    color: grey;
    font-size: 14px;
}

.love a:hover {
    color: rgb(56, 54, 54);
}

/***************** rules modal *****************/
.modal .material-icons {
    font-size: 14px !important;
    vertical-align: middle;
}

#food {
    color: rgb(255, 0, 100);
}

#special_food {
    color: rgb(255, 255, 0);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    color: rgb(80, 80, 80);
    background-color: #fefefe;
    max-width: 495px;
    max-height: 500px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    padding: 10px;
}

.modal-content p {
    margin: 15px;
}

.close {
    color: #aaaaaa;
    background-color: transparent;
    border: transparent;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    /* float: right; */
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    outline: none; /* no border when clicked */
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
